* {
    margin: 0;
}

body{
    background-color: rgb(226, 255, 160);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    min-height:100vh
}

header {
    padding: 10px;
    background-color: rgb(88, 238, 74);
}

h1, h2, h3{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    line-height: normal;
    text-align: left;
}

main{
    background-color: white;
    width: 500px;
    height: 250px;
    margin: 70px auto;
    padding: 10px;
    border-radius: 10px;
}

div{
background-color: #f7cf79;
border: solid 1px;
border-radius: 4px;
margin-bottom: 5px;
text-align: center;
padding: 8px;
}

div:hover{
    padding: 15px;
    background-color: black;
    transition: all 0.5s;
}

figure{
    text-align: center;
}

table{
    border: solid 0.1px;
}
table,th{
    border: solid 0.1px;
}


aside{
    float: right;
}