* {
    margin: 0;
}

body{
    background-color: rgb(226, 255, 160);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    min-height:100vh
}

header {
    padding: 10px;
    background-color: rgb(88, 238, 74);
}

h1, h2, h3{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    line-height: normal;
    text-align: left;
}

nav{
    background-color: rgb(56, 172, 61);
}

nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

nav ul li a{
    font-size: 32px;
    color: white;
    text-decoration: none;
    transition: background-color 1.5s;
    transition: color 1.5s;
}

nav ul li a:hover{
    color: black;
    border-color: rgb(226, 255, 160);
    background-color: rgb(226, 255, 160);
}

main section ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

main{
    padding: 15px;
}

figure{
    text-align: center;
}

table{
    border: solid 0.1px;
}
table,th{
    border: solid 0.1px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.1px;
    background-color: rgb(56, 172, 61);
}

aside{
    float: right;
}

form{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

form label,form input,form select,form textarea,form button{
    width: 100%;
}