body{
    background-color: rgb(226, 255, 160);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 0.1px;
    background-color: rgb(88, 238, 74);
}

h1, h2, h3{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    line-height: normal;
    text-align: left;
}

#menu-principal {
    padding: 20px;
    background-color: rgb(56, 172, 61);
}

#menu-principal a{
    padding: 40px;
    padding-top: 20px;
    font-size: 16px;
    color: white;
    text-decoration: none;
    transition: background-color 1s;
    transition: color 1s;
}

#menu-principal a:hover{
    color: black;
    border-color: rgb(226, 255, 160);
    background-color: rgb(226, 255, 160);
}

main{
    padding-bottom: 10px;
    padding-right: 40px;
}

figure{
    text-align: center;
}

table,th{
    border: solid 0.1px;
}

footer{
    padding: 0.1px;
    background-color: rgb(56, 172, 61);
}

li{
    padding: 5px;
}
aside{
    float: right;
}

fieldset{
    padding: 10px;
}

#formulario {
    padding: 0;
    border-color: rgb(56, 172, 61);
}

input, textarea,select{
    float: right;
}

#btn-enviar {
    margin-left: 40%;
}

#mapa {
    color: black 0s;

}